/*  */
.about-us {
  color: #333;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.aboutHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.aboutHero-details {
  max-width: 500px;
}

.aboutHero-details h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.aboutHero-details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.aboutHero-img {
  width: 600px;
  max-height: 500px;
  border-radius: 10px;
  margin: 10px;
}

.about-services {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin-bottom: 100px;
}

.about-services-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  margin: 10px;
}

.about-services-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: rgb(249, 115, 22) !important;
}

/* p, li {
    line-height: 1.6;
  } */

/* Team Section */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.team-member {
  flex: 0 0 30%; /* Three items per row */
  margin: 10px;
  text-align: center;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0056b3;
}

.team-member h3 {
  margin-top: 10px;
  color: #333;
}

/* Values List */
/* ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  } */

/* li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0056b3;
  } */

/* Call to Action Button */
.about-cta {
  margin-top: 30px;
  margin-bottom: 50px;
}

.about-service-cta {
  font-size: 18px;
  background-color: rgb(249, 115, 22);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 15px;
  text-decoration: none;
}

.our-services {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  
  justify-content: space-around;
  padding: 20px 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .team-member {
    flex: 0 0 45%; /* Adjust to two items per row on smaller screens */
  }
  .about-services {
    flex-direction: column;
    margin-bottom: 150px;
  }

  .aboutHero-img {
    max-width: 400px;
  }

  .aboutHero {
    flex-direction: column;
  }

  .about-services-imgs {
    margin-bottom: 100px;
  }
}
