/* Navbar.css */
.navbar-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand span {
  color: white !important;
}

.navbar-toggler:hover {
  background-color: #424242 !important;
}
.navbar-toggler:active {
  background-color: #424242 !important;
}

.burger-icon img{
  width: 30px;
}

.burger-icon img:hover{
  width: 32px;
}

.collapse.navbar-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.collapse.navbar-collapse.show {
  max-height: 300px;
}

.nav-item {
  text-decoration: none;
  color: white !important;
  padding: 10px;
  /* margin: 0 5px; */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #555;
}

.logo-img {
  width: 50px;
  height: 58px;
  border-radius: 10px;
}

.nav-logo, .nav-item {
  display: flex !important;
  align-items: center;
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  margin-left: auto;
  
}