/* PCBuilder.css */

.pc-builder {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}

.pc-builder h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.categories button {
  padding: 10px;
  margin: 0.2rem;
}

.category-button {
  background-color: white !important;
  color: rgb(249, 115, 22);
  /* border-bottom: rgb(249, 115, 22) 1px solid; */
  border-radius: 0;
}
.category-button:hover {
  background-color: white !important;
  color: rgb(249, 115, 22);
  border-bottom: rgb(249, 115, 22) 1px solid;
  border-radius: 0;
}

.category-button-active {
  background-color: rgb(249, 115, 22) !important;
  color: white;
  border: rgb(249, 115, 22) 1px solid;
  border-radius: 5px;
}

.part-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease;
}

.part-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.part-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.part-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.part-item button:hover {
  background-color: #0056b3;
}

.part-name,
.part-price {
  margin: 0.5rem 0;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  width: 200px;
  margin: 2rem auto 0;
  transition: background-color 0.3s ease;
}
