/* SelectedPartsForm.css */
.selected-parts-form {
    width: 98%;
    background-color: #f7f7f7;
    margin: 10px auto;
}

.offcanvas{
    width: 900px !important;
}

.partCard {
    width:  90%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #333;
    margin:  0 auto;
    background-color: #ffffff;
}

.part-details {
    display: flex;
    justify-content: space-between;
}

.partCard img {
    width: 100px;
    height: 100px;
    margin: 0 30px;
}

.partCard button {
    margin: 3px 30px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(249, 115, 22);
    color: white;
    transition: all .3s ease;
}

.partCard button:hover {
    background-color: rgb(168, 80, 18);
    color: white;
}

.cardDesc {
    display: flex;
}

.cardDesc h3 {
    margin: 0 30px;
}

.partInfoContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    margin-top: 10px;
    padding-top: 30px;
}

.sideBar-container{
    width: 140px;
    height: 100vh;
    position: fixed;
    top: 0px; 
    right: 0px;     
    border: 1px solid black;
    color: white;
    z-index: 1000;  
}

.sideBar{
    width: 55px;
    /* border: 1px solid black; */
    margin: 10px auto;
    text-align: center;
    padding: 0px;
}

.sideBar img{
    width: 75px;
    height: 75px;
    z-index: 1000;  
    margin: 10px auto;
    padding: 4px;
}

.sidebar-cost {
    width: 80px;
    margin-top: 30px;
    margin-inline: auto;
}

.left-arrow {
    width: 50px;
    position: fixed;
    top: 50%;
    right: 130px;
    text-align: center;
    border: none !important;
}

.left-arrow-img {
    width: 30px !important;
    height: 40px !important;
}

@media only screen and (max-width: 768px) {
    .sideBar-container {
        width: 100%;
        height: 85px;
        position: fixed;
        top: auto;
        bottom: 0;  
        right: 0;
        border: 1px solid black;
        z-index: 1000; 
        display: flex;
        justify-content: space-around;
    }

    .left-arrow img {
        width: 50px;
        height: 50px;
        background-color: white;
        position: fixed;
        bottom: 9%;
        right: 45%;
        transform: rotate(90deg);
        padding-left: 5px;
        text-align: center;
        border: none !important;
    }

    .sideBar {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        margin: 10px 2px;
        margin-top: 20px;
    }

    .sideBar img {
        width: 40px;
        height: 40px;
    }

    .sidebar-cost {
        width: 40px;
        height: 40px;
        margin: 10px 2px;
    }

    .part-details h3 {
        font-size: 16px;
        font-weight: bold;
    }
}