/* Footer.css */

.footer {
    background-color: #000000; /* Dark background */
    color: white;
    padding: 20px 50px; /* Spacing around the footer content */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; /* Space out the sections */
    align-items: start;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-logo {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 1em;
  }
  
  .footer-section h4 {
    margin-top: 0;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    display: block; /* Stack links vertically */
    margin: 0.5em 0;
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: var(--modern-orange); /* Highlight links on hover with the brand orange color */
  }
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      margin: 1em 0;
    }
  
    .footer-logo {
      margin-bottom: 2em;
    }
  }
  