/* PartSelector.css */

.part-selector {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
  }
  
  .part-selector h2 {
    color: #333;
    margin-bottom: 1rem;
  }
  
  .part-options {
    width: 99%;
    margin: 0 auto;
  }
  
  .part-item {
    display: flex;
    width: 98%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    margin: 10px auto;
  }

  .part-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .part-details div {
    width: 100px;
  }

  .part-img{
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto;
  }
  
  .part-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  .part-item img {
    /* max-width: 100px; */
    margin: 0 auto 1rem;
  }
  
  .part-name {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .part-price {
    color: #e55300;
    margin-bottom: 0.5rem;
  }
  
  .part-item button {
    background-color: #004085;
    color: white;
    border: none;
    height: 50px;
    /* padding: 0.5rem 1rem; */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .part-item button:hover {
    background-color: #002752;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .pagination button{
    padding: .5rem 1rem;
    margin: 0 .3rem;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
  }

  .pagination button.active, .pagination button:hover{
background-color: #004085;
color: white;
}
  