/* SelectedPartsForm.css */

.selected-parts-form {
    margin: 0 auto;
    width: 50%;
}

.partCard {
    width:  90%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #333;
    margin:  0 auto;
}

.partCard img {
    width: 100px;
    height: 100px;
    margin: 0 30px;
}

.partCard button {
    margin: 0 30px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.cardDesc {
    display: flex;
}

.cardDesc h3 {
    margin: 0 30px;
}