/* ServiceCard.css */
.service-card {
    width: 270px;
    height: 400px;

    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.service-card h3 {
    margin-top: 0;
    color: #0077cc;
}

.service-card p {
    font-size: 0.9em;
    color: #555;
}

.service-image-home {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
